@{
    ViewData["Title"] = "Nueva Receta";
}

<div class="">
    <div class="">
        <input hidden id="idReceta" value="@ViewBag.Id" />
        <div id="contenedorImagenes"></div>
        <div class="row">
            <div class="col-md-3">
                <h5>Nombre:</h5>
            </div>
            <div class="col-md-5">
                <input type="text" id="nombre" class="form-control" value="@ViewBag.Nombre" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>Área:</h5>
            </div>
            <div class="col-md-3">
                <select id="area" required class="form-control">
                    <option selected value="@ViewBag.IdArea">@ViewBag.Area</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>Subarea:</h5>
            </div>
            <div class="col-md-3">
                <select id="subarea" required class="form-control">
                    <option selected value="@ViewBag.IdSubArea">@ViewBag.SubArea</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>Descripción:</h5>
            </div>
            <div class="col-md-7">
                <textarea id="descripcion" class="form-control" rows="4">@ViewBag.Descripcion</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>Materiales:</h5>
            </div>
            <div class="col-md-7">
                <textarea id="materiales" class="form-control" rows="6">@ViewBag.Pasos</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>Procedimiento:</h5>
            </div>
            <div class="col-md-7">
                <textarea id="procedimientos" class="form-control" rows="6">@ViewBag.Descripcion</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>Imagenes:</h5>
            </div>
            <div class="col-md-7">
                <label class="form-label" for="customFile">Agregar imagenes</label>
                <input id="imagenes" type="file" class="form-control" accept="image/*" multiple onchange="checkImageSize(event)"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-2">
                <button class="btn btnPrincipal" onclick="guardarReceta();">Guardar</button>
            </div>
        </div>
        <hr />


    </div>
    @{
        var imagenesJson = System.Text.Json.JsonSerializer.Serialize(ViewBag.Imagenes);
        var idRecetaJson = System.Text.Json.JsonSerializer.Serialize(ViewBag.Id);
        var idImagenesJson = System.Text.Json.JsonSerializer.Serialize(ViewBag.IdImagenes);
    }
    <script>
        function checkImageSize(event) {
            var files = event.target.files; // Obtener los archivos seleccionados

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var fileSize = file.size; // Tamaño del archivo en bytes
                var maxSize = 2 * 1024 * 1024; // Tamaño máximo permitido: 2MB

                if (fileSize > maxSize) {
                    alert('El archivo "' + file.name + '" supera el tamaño máximo permitido de 2MB.');
                    // Limpiar el input de archivo para deseleccionar el archivo inválido
                    document.getElementById('imagenes').value = '';
                    return;
                }
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            var imagenes = @Html.Raw(imagenesJson);
            var idImagenes = @Html.Raw(idImagenesJson);
            for (var i = 0; i < imagenes.length; i++) {
                var imagenDiv = '<div class="row">';
                imagenDiv += '<div class="col">';
                imagenDiv += '<div class="row align-items-center">';
                imagenDiv += '<div class="col-md-3">';
                imagenDiv += '<h5>Imagen ' + (i + 1) + ':</h5>';
                imagenDiv += '</div>';
                imagenDiv += '<div class="col-md-2">';
                imagenDiv += '<img src="' + imagenes[i] + '" alt="Imagen ' + (i + 1) + '" class="imagenTabla" style="width: 100px; height: 100px;" />';
                imagenDiv += '</div>';
                imagenDiv += '<div class="col-md-7">';
                imagenDiv += '<button class="btn btn-danger" onclick="eliminarImagenReceta(' + idImagenes[i] + ');">Eliminar</button>';
                imagenDiv += '</div>';
                imagenDiv += '</div>';
                imagenDiv += '</div>';
                imagenDiv += '</div>';
                $('#contenedorImagenes').append(imagenDiv);
            }
        });

        function obtenerImagen() {
            var archivos = document.getElementById('imagenes').files;
            return new Promise(function (resolve, reject) {
                var promesasLectura = [];
                var datosURL = [];
                for (var i = 0; i < archivos.length; i++) {
                    var promesaLectura = new Promise(function (resolve, reject) {
                        var lector = new FileReader();
                        lector.addEventListener('load', function (evento) {
                            console.log("no error");
                            if (lector.result != null) {
                                //console.log(lector.result);
                                evento.target.result = lector.result.toString();
                                resolve(evento.target.result);
                            } else {
                                reject('Error al leer el archivo');
                            }
                        });
                        lector.addEventListener('error', function (evento) {
                            console.log("error");
                            reject(evento.target.error);
                        });
                        lector.readAsDataURL(archivos[i]);
                    });
                    promesasLectura.push(promesaLectura);
                }
                Promise.all(promesasLectura)
                    .then(function (resultados) {
                        resolve(resultados);
                    })
                    .catch(function (error) {
                        reject(error);
                    });
            });
        }
        function guardarReceta() {
            var idReceta = $('#idReceta').val();
            var nombre = $('#nombre').val();
            var area = $('#area').val();
            var subarea = $('#subarea').val();
            var descripcion = $('#descripcion').val();
            var materiales = $('#materiales').val();
            var procedimientos = $('#procedimientos').val();

            obtenerImagen().then(function (imagenes) {

                $.ajax({
                    type: 'POST',
                    url: Ruta + "/Home/actualizarReceta/",
                    data: {
                        inIdReceta: idReceta,
                        inNombre: nombre,
                        inArea: area,
                        inSubarea: subarea,
                        inDescripcion: descripcion,
                        inMateriales: materiales,
                        inProcedimientos: procedimientos
                    },
                    success: function (result) {
                        if (result == 0) {
                            if (imagenes.length != 0) {
                                $.ajax({
                                    type: 'POST',
                                    url: Ruta + "/Home/insertarImagenesReceta",
                                    data: {
                                        inIdReceta: idReceta,
                                        inImagenes: imagenes
                                    },
                                    success: function (result) {
                                        if (result == 0) {
                                            swal.fire({
                                                icon: 'success',
                                                html: '<h5>Datos Modificados Correctamente</h5>',
                                                showConfirmButton: true
                                            });
                                            sleep(2000).then(() => {
                                                //location.reload();
                                                window.location.href = "@Url.Action("Inicio", "Home")";
                                            });
                                        }
                                        else {
                                            swal.fire({
                                                icon: 'error',
                                                html: '<h5>No se guardaron los cambios correctamente [IMAGENES]</h5>'
                                            });
                                        }
                                    }
                                });
                            }
                            else{
                                swal.fire({
                                    icon: 'success',
                                    html: '<h5>Datos Modificados Correctamente</h5>',
                                    showConfirmButton: true
                                });
                                sleep(2000).then(() => {
                                    //location.reload();
                                    window.location.href = "@Url.Action("Inicio", "Home")";
                                });

                            }
                        } else {
                            swal.fire({
                                icon: 'error',
                                html: '<h5>No se guardaron los cambios correctamente [DATOS]</h5>'
                            });
                        }
                    },
                    error: function () {
                        swal.fire({
                            icon: 'error',
                            html: '<h5>No se guardaron los cambios realizados</h5>'
                        });
                    }
                });
            });
        }
        function eliminarImagenReceta(idImagenReceta) {
            $.ajax({
                type: 'POST',
                url: Ruta + "/Home/eliminarImagenXReceta/",
                data: { InIdImagenReceta: idImagenReceta },
                success: function (data) {
                    if (data == 0) {
                        swal.fire({
                            icon: 'success',
                            html: '<h5>Imagen eliminada con exito</h5>'
                        });
                        sleep(2000).then(() => {
                            location.reload();
                        });
                    } else {
                        swal.fire({
                            icon: 'error',
                            html: '<h5>Error al eliminar la imagen</h5>'
                        });
                    }
                },
                error: function () {
                    swal.fire({
                        icon: 'error',
                        html: '<h5>Error al eliminar la imagen</h5>'
                    });
                }
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            // Carga los departamentos en el primer select
            $.getJSON("/Home/ObtenerDepartamentos", function (data) {
                var options = "";
                $.each(data, function (key, area) {
                    options += "<option value='" + area.idDepartamento + "'>" + area.nombre + "</option>";
                });
                $("#area").append(options);
            });

            // Agrega un evento change() al primer select para cargar los subdepartamentos
            $("#area").change(function () {
                var idDepartamento = $(this).val(); // Obtiene el id del departamento seleccionado
                if (idDepartamento) { // Verifica que se haya seleccionado un departamento
                    $.getJSON("/Home/ObtenerSubDepartamentosPorDepartamento?idDepartamento=" + idDepartamento, function (data) {
                        var options = "";
                        options += "<option> Seleccione una subárea</option>";
                        $.each(data, function (key, subarea) {
                            console.log(subarea);
                            options += "<option value='" + subarea.idSubdepartamento + "'>" + subarea.nombre + "</option>";
                        });
                        $("#subarea").html(options); // Reemplaza las opciones del segundo select
                    });
                } else {
                    $("#subarea").html(""); // Si no se seleccionó un departamento, vacía el segundo select
                }
            });
        });

    </script>


</div>